@model InvoiceManager.Models.ViewModels.EditProductViewModel


<h1 class="mb-3">@Model.Heading</h1>


<div class="row">
    <div class="col-lg-6">
        @using (Html.BeginForm("Product", "Product"))
        {
            if (Model.Product.Id == 0)
            {
                <p class="alert alert-info mt-4 mb-4">
                    Pola Nazwa i Wartość są
                    <strong>wymagane</strong>
                </p>
            }

            @Html.HiddenFor(x => x.Product.Id)
            @Html.HiddenFor(x => x.Product.UserId)

            <div class="mb-1">
                @Html.LabelFor(x => x.Product.Name)
                @Html.TextBoxFor(x => x.Product.Name,
               new { @class = "form-control", autofocus = "autofocus" })
            </div>

            <div class="mb-1">
                @Html.LabelFor(x => x.Product.Value)
                @Html.TextBoxFor(x => x.Product.Value,
               new { @class = "form-control", autofocus = "autofocus" })
            </div>

            <button class="btn btn-primary btn-lg mb-5 mt-5" type="submit">
                Zapisz
            </button>
        }
    </div>
</div>
