@model IEnumerable<InvoiceManager.Models.Domains.InvoicePosition>


<div class="ROW">
    <h2>Pozycje faktury</h2>

    <table class="table, table-hover table-striped mt-3 mb-5">
        <thead>
            <tr>
                <th scope="col">Lp</th>
                <th scope="col">Produkt</th>
                <th scope="col">Ilośc</th>
                <th scope="col">Wartośc</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var position in Model)
            {
                <tr>
                    <td>
                        <a class="fw-bold"
                           href="@Url.Action("InvoicePosition", "Home",
                           new
                           {
                           invoiceId = position.InvoiceId,
                           invoicePositionId = position.Id
                           })">
                            @position.Lp
                        </a>
                    </td>
                </tr>
                <tr>@position.Product.Name</tr>
                <tr>@position.Quantity</tr>
                <tr>@position.Value</tr>
                <tr>
                    <button class="btn btn-danger btn-sm"
                            onclick="deleteInvoicePosition()">
                        Usuń
                    </button>
                </tr>
            }
        </tbody>
    </table>
</div>